<div id="mymodallistadotarifa" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">{{descripcion}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">

        <div *ngIf="loadinglistado" style="text-align:center">
          <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
        </div>

        <div class="col-md-12">

          <div class="panel-body table-responsive"> 
            <table style='font-size: 14px;' class="design-table">
              <thead>
                <tr>
                  <th>TARIFA</th>
                  <th>CANT U. TARIFA</th>
                  <th>PRECIO VENTA</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of datostarifas">
                  <td>{{item.tipo_tarifa}}</td>
                  <td><label class="text-info">{{item.cantidad_unidad}}</label></td>
                  <td><label class="text-success">{{item.precio_venta}}</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      

       <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
       </div>


    </div>

  </div>
</div>