<app-listado-empleado (datosenviar)="recibirDatosEmpleados($event)"></app-listado-empleado>

<app-listado-cliente (datosenviar)="recibirDatosCliente($event)"></app-listado-cliente>
  
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                    <button routerLink="/menucuentapc" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
                </div>
              </div>
          </div>
          
        </div>
        
      </div><!-- /.container-fluid -->
    </section>
    
    <!-- Main content -->
  <section class="content">
      <div class="container-fluid">
        <div class="row">
    
          <div class="col-md-12">
  
            <div class="row">
  
              <div class="col-md-6 d-flex align-items-center">
                <a class="btn btn-primary btn-flat btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-cogs"></i>
                  Más Formas de búsqueda
                </a>
              </div>

              <div class="col-md-6">
                  <div class="form-group">
                      <label>Fecha Corte:</label>
                      <div class="input-group input-group-sm">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                          </div>
                          <input [(ngModel)]="fechahasta" type="date" class="form-control">
                          <span class="input-group-append">
                              <button (click)="buscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                  </div>	 
              </div>
  
            </div>
            
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                  <div class="col-md-12">
   
                    <div class="row">

                      <div *ngIf="multisucursal=='1' && opcionesprivilegios['bloqueogestionlocales']!=1" class="col-md-6">
                          <div class="form-group">
                              <label>Sucursal:</label>
                              <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                                  <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                                      {{item.sucursal}}
                                  </option>
                              </select>
                          </div>	
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Personal:</label>
                          
                          <div class="input-group input-group-sm">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><input (change)="changeChkEmpleado();" [checked]="chkempleado" type="checkbox"> TODOS</span>
                              </div>
                              <label class="form-control">{{this.empleado}}</label>
                              <span class="input-group-append">
                                <button (click) = "listarEmpleados();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-list"></i></button>
                              </span>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Cliente:</label>
                          <div class="input-group input-group-sm">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><input (change)="changechkcliente();" [checked]="chkcliente" type="checkbox"> TODOS</span>
                              </div>
                              <label class="form-control">{{this.cliente}}</label>
                              <span class="input-group-append">
                                <button (click) = "listarClientes();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-list"></i></button>
                              </span>
                          </div>
                        </div>
                      </div>
        
                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Forma Cobro: </label>
                              <select (change)="changeFormaPago($event)" class="form-control form-control-sm">
                                <option value="{{item.id_forma_pago}}" *ngFor="let item of datosformapago" [selected]="item.id_forma_pago == this.id_forma_pago">
                                    {{item.forma_pago}}
                                </option>
                            </select>
                          </div>
                      </div>
        
                      <div class="col-md-6">
                        <div class="form-group">
                            <label>Tipo Documento:</label>
                            <select (change)="changeTipoDocumento($event)" class="form-control form-control-sm">
                                <option [value]="item.cod_tipo_documento" *ngFor="let item of datostipodocumento" [selected]="item.cod_tipo_documento == cod_tipo_documento">
                                    {{item.tipo_documento}}
                                </option>
                            </select>
                        </div>	
                      </div>

                    </div>

                  </div>
              </div>
            </div>

            <div class="row">

              <div class="col-lg-4 col-6">
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>$ {{ totalimporte | number:'1.2-2' }}</h3>
                    <p>Total General</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-dollar-sign"></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-6">
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>$ {{ totaldeuda | number:'1.2-2' }}</h3>
                    <p>Total Deuda</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-clock"></i>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-6 mx-auto">
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>{{ cantidad_registros }}</h3>
                    <p>N° Ventas</p>
                  </div>
                  <div class="icon">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                </div>
              </div>

            </div>
            
          <!-- /.Inicia form1 -->
          <!-- /.Inicia form1 -->
          <!-- /.Inicia form1 -->
            <div class="card card-primary card-outline">
              <div class="card-header">
                <h3 class="card-title"><i class="fa fa-file-alt"></i> Reporte</h3>
    
    
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                      <button (click)="exportarExcel()" class="btn btn-success btn-sm mr-1" type="button">
                        <i class="fa fa-file-excel"></i> Excel
                      </button>
                      <button (click)="exportarPdf()" class="btn btn-danger btn-sm mr-2" type="button">
                        <i class="fa fa-file-pdf"></i> PDF
                      </button>
                      <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
                  </div>
                </div>
    
    
              </div>
              <div class="card-body">
                <div *ngIf="loadinglistado" class="d-flex justify-content-center align-items-center">
                  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
                </div>
    
                      <div class="table-responsive p-0">
                        <table class="design-table">
                            <thead>
                              <tr>
                                <th width="50px">Nº FACT.</th>
                                <th width="200px">CLIENTE</th>
                                <th width="100px">FORMA</th>
                                <th width="100px">VENCIMIENTO</th>
                                <th width="100px">TOTAL</th>
                                <th width="50px">DEUDA</th>
                                <th width="50px">ESTADO</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of (datos | filterGenerico:filterpost:['numero_factura', 'cedula', 'cliente', 'fecha_hora', 'importetotal', 'deuda_valor', 'estado_pago', 'plazo', 'tiempo']) | paginate : {
                                id : 'pagreporteporcobrar',
                                itemsPerPage: pagesize,
                                currentPage: page,
                                totalItems: count
                              }">
                                <td>{{item.numero_factura}}</td>
                                <td><div><small class="badge badge-primary">{{item.cedula}}</small></div>
                                  {{item.cliente}}<br></td>
                                <td><div><small class="badge badge-primary">{{item.fecha_hora}}</small></div>
                                    {{item.forma_pago}}<br></td>
                                <td>{{item.plazo + " " + item.tiempo}}<br></td>
                                <td><label class="text-success">{{item.importetotal}}</label></td>
                                <td><label class="text-primary">{{item.deuda_valor}}</label></td>
                                <td>
                                  <label *ngIf="item.estado_pago=='VENCIDO'" class="text-danger">{{item.estado_pago}}</label>
                                  <label *ngIf="item.estado_pago=='NO VENCIDO'" class="text-primary">{{item.estado_pago}}</label>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                      </div>
               
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right text-right">
                            <table class="design-table">
                              <tr>
                                <td><label>TOTAL IMPORTE</label></td>
                                <td><label class="text-success">{{totalimporte}}</label></td>
                              </tr>
                              <tr>
                                <td><label>TOTAL DEUDA</label></td>
                                <td><label class="text-success">{{totaldeuda}}</label></td>
                              </tr>
                            </table>
                          </div>
                        </div>
                      </div>
  
                      <div class="row">
                        <div class="col-md-12">
                          <div class="float-right">
                            <pagination-controls class="pagination-controls" id="pagreporteporcobrar"
                            previousLabel="Anterior"
                            nextLabel="Siguiente"
                            [responsive]="true"
                            (pageChange)="handlePageChange($event)">
                            </pagination-controls>
                          </div>
                        </div>
                      </div>
    
              </div>
              <!-- /.card-body -->
            </div>
          <!-- /.Termina form1 -->
          <!-- /.Termina form1 -->
          <!-- /.Termina form1 -->
          </div>
    
        </div>
    
    
    
        
    
    
    
      </div>
    </section>