<div id="mymodallistarproductos" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-xl">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">LISTADO DE PRODUCTOS</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">
          <app-listado-producto-general (datosenviar)="recibirDatosProducto($event)"></app-listado-producto-general>

          <div class="d-flex justify-content-end align-items-center">
            <button (click)="actualizarListadoProducto();" type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fas fa-sync-alt"></i> Actualizar</button>&nbsp;
            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</button>
          </div>

      </div>

      

    </div>

  </div>
</div>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                <button routerLink="/menualmacen" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
            </div>
          </div>
      </div>
      
    </div>
    
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

        <div class="row">

          <div class="col-md-6 d-flex align-items-center">
            <a class="btn btn-primary btn-flat btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-cogs"></i>
              Más Formas de búsqueda
            </a>
          </div>

          <div class="col-md-3">
                  <div class="form-group">
                      <label>Fecha Desde:</label>
                      <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                      <input [(ngModel)]="fechadesde" type="date" class="form-control">
                      </div>
                  </div>		 
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label>Fecha Hasta:</label>
                      
                      <div class="input-group input-group-sm">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                          </div>
                          <input [(ngModel)]="fechahasta" type="date" class="form-control">
                          <span class="input-group-append">
                              <button (click)="buscarproductos();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                  </div>	 
              </div>
          


        </div>

        <div class="collapse" id="collapseExample">
          <div class="card card-body">
              <div class="col-md-12">

                <div class="row">

                  <div *ngIf="multisucursal=='1' && opcionesprivilegios['bloqueogestionlocales']!=1" class="col-md-6">
                    <div class="form-group">
                        <label>Sucursal:</label>
                        <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                            <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                                {{item.sucursal}}
                            </option>
                        </select>
                    </div>	
                </div>
        
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Categoría: </label>
                      <select (change)="changeCategoria($event)" class="form-control form-control-sm">
                          <option value="{{item.cod_categoria}}" *ngFor="let item of datoscategoria" [selected]="categoria == item.categoria">
                              {{item.categoria}}
                      </option>
                      </select>
                    </div>
                  </div>
        
                  <div class="col-md-6">
                    <label>SubCategoria:</label>
                    <ng-select
                      class="form-control form-control-sm"
                      [(ngModel)]="cod_subcategoria"
                      [items]="datossubcategoria"
                      bindLabel="subcategoria"
                      bindValue="cod_subcategoria"
                      (change)="changeSubCategoria($event)">
                    </ng-select>
                  </div>
        
        
                  <div class="col-md-6">
                      <div class="form-group">
                        <label>Producto:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><input (change)="changechkproducto();" [checked]="chkproducto" type="checkbox"> TODOS</span>
                            </div>
                            <label class="form-control">{{this.producto}}</label>
                            <span class="input-group-append">
                              <button (click) = "clickListarProductos();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-list"></i></button>
                            </span>
                        </div>
                      </div>
                  </div>
        
        
                  <div class="col-md-6">
                      <div class="form-group">
                          <label>Tipo Ingreso:</label>
                          <div class="input-group input-group-sm">
                          <select (change)="changeTipoIngresoMercaderia($event)" class="form-control form-control-sm">
                              <option value="{{item.cod_tipo_ingreso_mercaderia}}" *ngFor="let item of datostipoingresomercaderia" [selected]="this.cod_tipo_ingreso_mercaderia == item.cod_tipo_ingreso_mercaderia">
                                  {{item.tipo_ingreso_mercaderia}}
                              </option>
                          </select>
                          </div>
                      </div>		 
                  </div>


                </div>

              </div>
          </div>
        </div>
        
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-file-alt"></i><span class="labeloculto">&nbsp;Reporte</span></h3>
              &nbsp;<span class="text-right">(Total: {{this.cantidad_registros}} Registros)</span>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                  <button (click)="exportarExcel()" class="btn btn-success btn-sm mr-1" type="button">
                    <i class="fa fa-file-excel"></i> Excel
                  </button>
                  <button (click)="exportarPdf()" class="btn btn-danger btn-sm mr-2" type="button">
                    <i class="fa fa-file-pdf"></i> PDF
                  </button>
                  <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
              </div>
            </div>


          </div>
          <div class="card-body">
            <div *ngIf="loadinglistado" class="d-flex justify-content-center align-items-center">
              <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
            </div>

                  <div class="table-responsive p-0">
                      <table class="design-table">
                        <thead>
                          <tr>
                            <th>CODIGO</th>
                            <th>CATEGORÍA</th>
                            <th>SUBCATEGORÍA</th>
                            <th>MARCA</th>
                            <th>DESCRIPCION</th>
                            <th>T. COSTO</th>
                            <th>T. COSTO IMP</th>
                            <th>ENTRADA</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of (datos | filterGenerico:filterpost:['codigo', 'categoria', 'subcategoria', 'marca', 'descripcion']) | paginate : {
                            itemsPerPage: pagesize,
                            currentPage: page,
                            totalItems: count
                          }">
                            <td>{{item.codigo}}</td>
                            <td>{{item.categoria}}</td>
                            <td>{{item.subcategoria}}</td>
                            <td>{{item.marca}}</td>
                            <td>{{item.descripcion}}</td>
                            <td><label class="text-success">{{item.total_base_entrada}}</label></td>
                            <td><label class="text-success">{{item.total_entrada}}</label></td>
                            <td><label class="text-primary">{{item.cantidad_entrada}}</label></td>
                          </tr>
                        </tbody>
                      </table>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right text-right">
                        <table class="design-table">
                          <tr>
                            <td><label>T. COSTO</label></td>
                            <td><label class="text-success">{{total_base_entrada}}</label></td>
                          </tr>
                          <tr>
                            <td><label>T. COSTO IMP</label></td>
                            <td><label class="text-success">{{total_entrada}}</label></td>
                          </tr>
                          <tr>
                            <td><label>ENTRADA</label></td>
                            <td><label class="text-primary">{{cantidad_entrada}}</label></td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <pagination-controls class="pagination-controls"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                        [responsive]="true"
                        (pageChange)="handlePageChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
              






          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      </div>

    </div>



    



  </div>
</section>