<div id="mymodalopciones" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">FACTURA Nº  {{ numero_factura }} - {{ proveedor }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-12 d-flex flex-wrap justify-content-center">

            <div class="col-md-4 pb-1">
              <button (click)="editar();" [disabled]="disabledbtneditar" class="btn btn-primary btn-flat btn-sm btn-block" type="button"><i class="fas fa-edit"></i> EDITAR</button>
            </div>

            <div class="col-md-4 pb-1">
              <button (click)="visualizar();" class="btn btn-primary btn-flat btn-sm btn-block" type="button"><i class="fas fa-print"></i> VISUALIZAR</button>
            </div>

            <div class="col-md-4 pb-1">
              <button (click)="crearNotaCredito();" [disabled]="disabledbtnnotacredito" class="btn btn-warning btn-flat btn-sm btn-block" type="button"><i class="fas fa-cart-arrow-down"></i> NOTA CREDITO</button>
            </div>

            <div class="col-md-4 pb-1">
              <button (click)="clickAnular();" [disabled]="disabledbtnanular" class="btn btn-danger btn-flat btn-sm btn-block" type="button"><i class="fas fa-trash-alt"></i> ANULAR</button>
            </div>

            <div *ngIf="inventario==1" class="col-md-4 pb-1">
              <button (click)="clickFijarPrecios();" [disabled]="disabledbtnfijarprecios" class="btn btn-primary btn-flat btn-sm btn-block" type="button"><i class="fas fa-at"></i> FIJAR PRECIO</button>
            </div>

            <div *ngIf="opcionesmenu['registrocaducidad'] && inventario==1" class="col-md-4 pb-1">
              <button (click)="clickRegistroCaducidad();" class="btn btn-primary btn-flat btn-sm btn-block" type="button"><i class="fas fa-clock"></i> CADUCIDAD</button>
            </div>

          </div>
        </div>
        
        <div class="row justify-content-between">

          <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
          </span>

        </div>

      </div>


    </div>

  </div>
</div>

<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group">
                <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                <button routerLink="/menucompra" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
              </div>
            </div>
        </div>
        
      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  
  <!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
  
        <div class="col-md-12">

          <div class="row">

            <div *ngIf="multisucursal=='1' && opcionesprivilegios['bloqueogestionlocales']!=1" class="col-md-6">
             

              <div class="form-group">
                  <label>Sucursal:</label>
                  
                  <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                      <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                          {{item.sucursal}}
                      </option>
                  </select>

              </div>

            </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label>Fecha Compra Desde:</label>
                      <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                      <input [(ngModel)]="fechadesde" type="date" class="form-control">
                      </div>
                  </div>		 
              </div>

              <div class="col-md-3">
                  <div class="form-group">
                      <label>Fecha Compra Hasta:</label>
                      
                      <div class="input-group input-group-sm">
                          <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                          </div>
                          <input [(ngModel)]="fechahasta" type="date" class="form-control">
                          <span class="input-group-append">
                              <button (click)="clickBuscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                          </span>
                      </div>
                  </div>	 
              </div>

          </div>
          
        <!-- /.Inicia form1 -->
        <!-- /.Inicia form1 -->
        <!-- /.Inicia form1 -->
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title"><i class="fa fa-file-alt"></i> Explorador</h3>
  
  
              <div class="card-tools">
                <div class="input-group input-group-sm">
  
                    <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
  
                    
  
                </div>
              </div>
  
  
            </div>
            <div class="card-body">
                <div class="row justify-content-between">
              
                  <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
                  </span>
  
                    <div class="table-responsive p-0">
                        <table class="design-table resp">
                          <thead>
                            <tr>
                              <th width="50px">Nº</th>
                              <th width="50px">ESTADO</th>
                              <th width="100px">USUARIO</th>
                              <th width="300px">PROVEEDOR</th>
                              <th width="100px">FECHA COMPRA</th>
                              <th width="100px">FECHA REGISTRO</th>
                              <th width="50px">TOTAL</th>
                              <th width="100px"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of (datos | filterGenerico:filterpost:['numero_factura', 'fecha_emision', 'ruc', 'proveedor', 'estado']) | paginate : {
                              id : 'pagproducto',
                              itemsPerPage: pagesize,
                              currentPage: page,
                              totalItems: count
                            }">
                              <td>{{item.numero_factura}}</td>
                              <td>
                                <div class="text-mobile-right">
                                  <small *ngIf="item.estado=='CREADA'" class="badge badge-success">{{item.estado}}</small>
                                  <small *ngIf="item.estado=='ANULADA'" class="badge badge-warning">{{item.estado}}</small>
                                  <small *ngIf="item.nota_credito_compra=='1'" class="badge badge-warning">NOTA CREDITO APLICADA</small>
                                </div>
                              </td>
                              <td><small class="badge badge-primary">{{item.usuario}}</small></td>
                              <td>
                                <div class="text-mobile-right">
                                  <div><small class="badge badge-primary">{{item.ruc}}</small></div>
                                  {{item.proveedor}}
                                </div>
                              </td>
                              <td>{{item.fecha_emision}}</td>
                              <td>{{item.fecha_hora}}</td>
                              <td><label class="text-success">{{item.importetotal | number}}</label></td>
                              <td>
                                <div>
                                  <div class="d-flex justify-content-end">
                                    <button (click)="opciones(item);" data-bs-toggle="tooltip" data-bs-placement="top" title="OPCIONES" class="btn btn-outline-primary btn-sm" type="button"><i class="fa fa-cogs"></i></button>
                                  </div>
                                </div>
                                
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div class="float-right">
                          <pagination-controls class="pagination-controls" id="pagproducto"
                          previousLabel="Anterior"
                          nextLabel="Siguiente"
                          [responsive]="true"
                          (pageChange)="handlePageChange($event)">
                          </pagination-controls>
                        </div>
                    </div>
                </div>
  
  
  
  
  
  
            </div>
            <!-- /.card-body -->
          </div>
        <!-- /.Termina form1 -->
        <!-- /.Termina form1 -->
        <!-- /.Termina form1 -->
        </div>
  
      </div>
  
  
  
      
  
  
  
    </div>
  </section>