<IfModule mod_rewrite.c>
  RewriteEngine On
  # Cambia esto en cada empresa según su carpeta
  RewriteBase /novapan/
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>