  <app-listado-empleado (datosenviar)="recibirDatosEmpleados($event)"></app-listado-empleado>
    
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
                <div class="btn-toolbar" role="toolbar">
                  <div class="btn-group">
                      <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                      <button routerLink="/menuventa" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
                  </div>
                </div>
            </div>
            
          </div>
          
        </div><!-- /.container-fluid -->
      </section>
      
      <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
  
          <div style="text-align:center">
            <div *ngIf="loading" class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
          </div>
  
          <div class="row">
  
            <div class="col-md-12">
  
              <div class="row">
  
                <div class="col-md-6 d-flex align-items-center">
                  <a class="btn btn-primary btn-flat btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-cogs"></i>
                    Más Formas de búsqueda
                  </a>
                </div>
    
                <div class="col-md-3">
                  
                    <div class="form-group">
                        <label>Fecha Desde:</label>
                        <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input [(ngModel)]="fechadesde" type="date" class="form-control">
                        </div>
                    </div>		 
                </div>
    
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Fecha Hasta:</label>
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                            </div>
                            <input [(ngModel)]="fechahasta" type="date" class="form-control">
                            <span class="input-group-append">
                                <button (click)="buscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>	 
                </div>
  
              </div>

              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="col-md-12">
     
                      <div class="row">
  
  
                            <div *ngIf="multisucursal=='1' && opcionesprivilegios['bloqueogestionlocales']!=1" class="col-md-6">
                                <div class="form-group">
                                    <label>Sucursal:</label>
                                    <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                                        <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                                            {{item.sucursal}}
                                        </option>
                                    </select>
                                </div>	
                            </div>

                            <div *ngIf="firmasruc=='1'" class="col-md-6">
                              <div class="form-group">
                                  <label>Ruc Empresa:</label>
                                  <select (change)="changeEmpresa($event)" class="form-control form-control-sm">
                                      <option value="{{item.cod_ruc}}" *ngFor="let item of datosrucempresa" [selected]="this.cod_ruc == item.cod_ruc">
                                          {{item.empresa}}
                                      </option>
                                  </select>
                              </div>	
                            </div>
              
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Personal:</label>
                                
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><input (change)="changeChkEmpleado();" [checked]="chkempleado" type="checkbox"> TODOS</span>
                                    </div>
                                    <label class="form-control">{{this.empleado}}</label>
                                    <span class="input-group-append">
                                      <button (click) = "listarEmpleados();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-list"></i></button>
                                    </span>
                                </div>
                              </div>
                            </div>
                      </div>
  
                    </div>
                </div>
              </div>

            </div>
      
          </div>
      
          <div class="row">

            <div class="col-md-12">
              <div class="card card-primary col-md-12 mx-auto">
                  <table class="table table-sm">
                    <thead>
                      <tr class="text-center">
                        <th scope="col" class="align-middle">GANANCIA</th>
                        <th scope="col" class="align-middle"></th>
                        <th scope="col" class="align-middle">
                          <label data-bs-toggle="tooltip" data-bs-placement="top" title="Ventas sin deudas, Abonos de Ventas menos las devoluciones">VENTAS</label>
                        </th>
                        <th scope="col" class="align-middle"></th>
                        <th scope="col" class="align-middle">
                          <label data-bs-toggle="tooltip" data-bs-placement="top" title="Ingreso de Dinero adicionales">INGRESOS</label>
                        </th>
                        <!-- <th scope="col" class="align-middle"></th>
                        <th scope="col" class="align-middle">
                          <label data-bs-toggle="tooltip" data-bs-placement="top" title="Compras a Proveedores sin deuda, Abonos de Compras a Proveedores menos las devoluciones">COMPRAS</label>
                        </th> -->
                        <th scope="col" class="align-middle"></th>
                        <th scope="col" class="align-middle">
                          <label data-bs-toggle="tooltip" data-bs-placement="top" title="Gastos Generales Operativos">GASTOS</label>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="text-center">
                        <td class="align-middle"><label class="text-success h2">{{ganancia}}</label></td>
                        <td class="align-middle"><label class="text-primary h3">=</label></td>
                        <td class="align-middle"><label class="text-success h2">{{total_ventas}}</label></td>
                        <td class="align-middle"><label class="text-primary h3">+</label></td>
                        <td class="align-middle"><label class="text-success h2">{{total_ingresos}}</label></td>
                        <td class="align-middle"><label class="text-primary h3">-</label></td>
                        <!-- <td class="align-middle"><label class="text-warning h2">{{total_compras}}</label></td>
                        <td class="align-middle"><label class="text-primary h3">+</label></td> -->
                        <td class="align-middle"><label class="text-warning h2">{{total_gastos}}</label></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>


            <div #imprimircuadroestadistico class="col-md-12">

                <div class="card">
                    <div class="card-header border-0">
                      <h3 class="card-title">Resumen Gráfico</h3>
                      <div class="card-tools">
                        <button (click)="imprimirCuadroEstadisticos();" class="btn btn-tool btn-sm"><i class="fas fa-print"></i></button>
                      </div>
                    </div>

                    <div class="card-body table-responsive p-0">
                        <ngx-charts-bar-vertical class="chart-container"
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="single"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>

              
            </div>

            <div #imprimirresumendetallado class="col-md-12">

                <div class="row">
                    <div class="col-md-12">

                        <div class="card">
                            <div class="card-header border-0">
                              <h3 class="card-title">Resumen Detallado</h3>
                              <div class="card-tools">
                                <button (click)="imprimirResumenDetallado();" class="btn btn-tool btn-sm"><i class="fas fa-print"></i></button>
                              </div>
                            </div>


                            <div class="card-body table-responsive p-0">
                                <table style="font-size: 10px;" class="design-table">
                                  <thead>
                                    <tr>
                                      <th>RESUMEN</th>
                                      <th>EFECTIVO CAJA</th>
                                      <th>TARJETA DÉBITO</th>
                                      <th>TARJETA CRÉDITO</th>
                                      <th>DEPÓSITOS</th>
                                      <th>TOTAL</th>
                                    </tr> 
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let item of datos">
                                      <td [innerHTML]="item.descripcion"></td>
                                      <td [innerHTML]="item.efectivo"></td>
                                      <td [innerHTML]="item.debito"></td>
                                      <td [innerHTML]="item.credito"></td>
                                      <td [innerHTML]="item.deposito"></td>
                                      <td [innerHTML]="item.total"></td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                  </tfoot>
                                </table>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

          </div>
      
          
      
      
      
        </div>
      </section>