<section class="content-header">

  <div class="container-fluid">

      <div *ngIf="permisosProcesosOperativos()" class="card card-outline card-primary">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-cash-register mr-2"></i> Procesos Operativos</h3>
        </div>
        <div class="card-body">
          
          <div class="row">

            <div class="col-md-6 col-lg-2 col-xlg-3" *ngIf="this.opcionesmenu['retencion']">
              <a routerLink="/menuretencion/retencion/nuevoregistro" class="small-box-footer">
                <div class="card bg-cyan card-menu">
                  <h1>
                    <i class="fas fa-file-invoice-dollar"></i>
                  </h1>
                  <span class="text-white h6">Retención</span>
                </div>
              </a>
            </div>


          </div>
          

        </div>
      </div>

      <div *ngIf="permisosGestionDocumentos()" class="card card-outline card-info mt-4">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-list-alt mr-2"></i> Gestión de Documentos</h3>
        </div>
        <div class="card-body">
          <div class="row">

            <div *ngIf="this.opcionesmenu['exploradorretencion']" class="col-lg-2 col-md-3 col-12 mb-2 d-flex">
              <a routerLink="/menuretencion/exploradorretencion" class="btn btn-block btn-outline-info btn-sm h-100 d-flex align-items-center justify-content-center">
          <span>
                <i class="fas fa-list-alt"></i> Explorador Retenciones
              </span></a>
            </div>
            
          </div>
        </div>
      </div>

      <div *ngIf="permisosInformesReportes()" class="card card-outline card-success mt-4">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-chart-line mr-2"></i> Informes y Reportes</h3>
        </div>
        <div class="card-body">
          <div class="row">

            <div *ngIf="this.opcionesmenu['reporteretencion']" class="col-lg-2 col-md-3 col-12 mb-2 d-flex">
              <a routerLink="/menuretencion/reporteretencion" class="btn btn-block btn-outline-success btn-sm h-100 d-flex align-items-center justify-content-center">
          <span>
                <i class="fas fa-file-invoice-dollar"></i> Rept. Retención
              </span></a>
            </div>


          </div>
        </div>
      </div>

      <div *ngIf="permisosConfiguracionAuxiliares()" class="card card-outline card-secondary mt-3">
        <div class="card-header">
          <h3 class="card-title"><i class="fas fa-tools mr-2"></i> Configuración y Auxiliares</h3>
        </div>
        <div class="card-body">

          <div class="row">

            <div *ngIf="this.opcionesmenu['codigoretencion']" class="col-lg-2 col-md-3 col-12 mb-2 d-flex">
              <a routerLink="/menuretencion/codigoretencion" class="btn btn-block btn-outline-secondary btn-sm h-100 d-flex align-items-center justify-content-center">
          <span>
                <i class="fas fa-barcode"></i> Código Retención
              </span></a>
            </div>

          </div>
          
        </div>
      </div>

  </div>
</section>