<div id="mymodallistarproductos" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-xl">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">LISTADO DE PRODUCTOS</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">


        
          <app-listado-producto-ingresos (datosenviar)="recibirDatosProducto($event)"></app-listado-producto-ingresos>

          <div class="d-flex justify-content-end align-items-center">
            <button (click)="actualizarListadoProducto();" type="button" class="btn btn-primary btn-sm" data-dismiss="modal"><i class="fas fa-sync-alt"></i> Actualizar</button>&nbsp;
            <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</button>
          </div>

      </div>

      

    </div>

  </div>
</div>

<section class="content-header" id="box">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button *ngIf="tipo_formulario=='nuevoregistro'" [disabled]="disabledbtnnuevo" (click)="clickNuevo();" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-file"></i> Nuevo</button>
                <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                <button (click)="goBack();" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fa fa-reply"></i> Atrás</button>
            </div>
            

           
            <!--INICIA MULTIEMPRESA-->
            <!--INICIA MULTIEMPRESA-->
            <!--INICIA MULTIEMPRESA-->
            <div *ngIf="multisucursal=='1'" class="input-group">  
              <label class="form-control form-control-sm">{{sucursal}}</label>
            </div>
            <!--TERMINA MULTIEMPRESA-->
            <!--TERMINA MULTIEMPRESA-->
            <!--TERMINA MULTIEMPRESA-->
            

            

          </div>

      </div>

      
      
    </div>
    
  </div><!-- /.container-fluid -->

  
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">

                <div class="card card-cyan card-outline">
                    <div class="card-header">

                      <div style="text-align:center">
                          <div *ngIf="loading" class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
                      </div>
                      
                      <div *ngIf="tipo_formulario!='visualizarregistro'" class="form-group">
                          <label>Código Barra:</label>
                          
                          
                          <div class="input-group input-group-sm">
                              <input id="txtcodigobarra" [(ngModel)]="codigo_barra" oninput="javascript:this.value=this.value.toUpperCase();" (keyup.enter)="buscarCodigoProducto();" class="form-control" maxlength="35" [disabled]="disabledtxtcodigobarra" placeholder="Ingrese Código de Barra"vtype="text">
                              <span class="input-group-append">
                                  <button (click)="clickListarProductos();" [disabled]="disabledbtnlistarproducto" class="btn btn-primary btn-flat" type="button"><i class="fa fa-list"></i></button>
                              </span>
                              <span id="cargabuscarcodigo" class="input-group-addon"></span>
                          </div>
                      </div>
                      
                      <app-detalle-productos></app-detalle-productos>



                    </div>
                    
                </div>

        </div>

        <div class="col-md-4">

            <div class="card card-cyan card-outline">
                <div class="card-header">
                  <h5><i class="fas fa-cube"></i><label class="text-primary float-right">Ingreso Mercadería</label></h5>
                </div>
                <div class="card-body">
                        <div class="row">			 
                            <div class="col-md-12" style="font-size: 14px">

                                      <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Nº Ingreso:</label>
                                          <div class="col-sm-8">
                                              <div class="input-group input-group-sm">
                                                  <div class="input-group-prepend">
                                                  <span class="input-group-text"><i class="fas fa-paperclip"></i></span>
                                                  </div>
                                                  <label class="form-control">{{ this.numero_ingreso }}</label>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Fecha:</label>
                                          <div class="col-sm-8">
                                              <div class="input-group input-group-sm">
                                                  <div class="input-group-prepend">
                                                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                                  </div>
                                                  <label class="form-control">{{ fecha_registro }}</label>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo Ingreso:</label>
                                          <div class="col-sm-8">
                                              <input class="d-none form-control" type="text">
                                              <div class="input-group input-group-sm">
                                                  <select [disabled]="disabledtxt" [ngClass]="{'is-invalid': flagtipoingresomercaderia}" (change)="changeTipoIngresoMercaderia($event)" class="form-control form-control-sm">
                                                      <option value="{{item.cod_tipo_ingreso_mercaderia}}" *ngFor="let item of datostipoingresomercaderia" [selected]="item.cod_tipo_ingreso_mercaderia == cod_tipo_ingreso_mercaderia">
                                                          {{item.tipo_ingreso_mercaderia}}
                                                      </option>
                                                  </select>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-sm-4 col-form-label">Descripción:</label>
                                          <div class="col-sm-8">
                                                  <input [ngClass]="{'is-invalid': flagdescripcion}" class="form-control form-control-sm" [(ngModel)]="descripcion" oninput="javascript:this.value=this.value.toUpperCase();" [disabled]="disabledtxt" type="text">
                                          </div>
                                      </div>

                                      <div *ngIf="tipo_formulario=='nuevoregistro'" class="form-group">
                                        <button [disabled]="disabledbtnguardar" (click)="clickVerificar();" class="btn btn-primary btn-block btn-sm" type="button"><i class="fas fa-save"></i> Guardar</button>
                                      </div>

                                      <div *ngIf="tipo_formulario=='actualizarregistro' && kardex == '0'" class="form-group">
                                        <button (click)="clickVerificar();" class="btn btn-warning btn-block btn-sm" type="button"><i class="fas fa-save"></i> Actualizar</button>
                                      </div>

                                      <div *ngIf="tipo_formulario=='actualizarregistro' && kardex == '1'" class="form-group">
                                        <button (click)="clickVerificarEncabezado();" class="btn btn-warning btn-block btn-sm" type="button"><i class="fas fa-save"></i> Actualizar Encabezado</button>
                                      </div>



                            </div>
                        </div>

                </div>
                
            </div>


            

            

            



        </div>
    </div>		


     

    <div class="row">
        
        


    </div>



    


  </div>
</section>