<section class="content-header">

  <div class="container-fluid">


      <div *ngIf="permisosProcesosOperativos()" class="card card-outline card-primary">
  <div class="card-header">
    <h3 class="card-title"><i class="fas fa-cash-register mr-2"></i> Procesos Operativos</h3>
  </div>
  <div class="card-body">
    <div class="row align-items-stretch">

      <div class="col-md-6 col-lg-2 col-xlg-3 d-flex mb-3" *ngIf="this.opcionesmenu['servicioshotel']">
        <a routerLink="/menuhotel/servicioshotel" class="small-box-footer w-100 d-flex">
          <div class="card bg-cyan card-menu w-100 h-100 d-flex flex-column align-items-center justify-content-center p-3 text-center">
            <h1>
              <i class="fas fa-concierge-bell"></i>
            </h1>
            <span class="text-white h6">Servicios / Habitaciones</span>
          </div>
        </a>
      </div>

      <div class="col-md-6 col-lg-2 col-xlg-3 d-flex mb-3" *ngIf="this.opcionesmenu['exploradorhabitacion']">
        <a routerLink="/menuhotel/exploradordepartamentos" class="small-box-footer w-100 d-flex">
          <div class="card bg-cyan card-menu w-100 h-100 d-flex flex-column align-items-center justify-content-center p-3 text-center">
            <h1>
              <i class="fas fa-hotel"></i>
            </h1>
            <span class="text-white h6">Expl. Departamentos</span>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>


  </div>
</section>