<!-- Modal -->
<div id="mymodalguardar" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">INFORMACIÓN DEL SISTEMA</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Está seguro de Guardar Cambios</p>
      </div>
      <div class="modal-footer">
         <button id="btnsiguardar" type="button" class="btn btn-success" data-dismiss="modal">Si</button>
     <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
    <!--<a href="index.html" class="btn btn-success">Guardar</a>-->
      </div>
    </div>

  </div>
</div>
<!-- TERMINA Trigger the modal with a button -->




<section class="content-header">
    <div class="container-fluid">

    

      <div class="row mb-2">
        <div class="col-sm-12">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group">
                <button (click)="clickNuevo();" [disabled]="disabledbtnnuevo" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-file"></i> Nuevo</button>
                <button *ngIf="electronico == '1'" [disabled]="disabledbtnsrienviar" class="btn btn-success btn-flat btn-sm" type="button"><i class="fas fa-paper-plane"></i> Enviar SRI</button>
                <button [disabled]="disabledbtnimprimir" class="btn btn-primary btn-flat btn-sm" type="button"><i class="fas fa-print"></i> Imprimir</button>
                <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                <button routerLink="/menuretencion" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fa fa-reply"></i> Atrás</button>
              </div>
              
      <!--INICIA MULTIEMPRESA-->
      <!--INICIA MULTIEMPRESA-->
      <!--INICIA MULTIEMPRESA-->
      <div class="input-group">  
        <select *ngIf="multisucursal=='1'" (change)="changeSucursal($event)" class="btn btn-primary btn-flat btn-sm">
          <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
            {{item.sucursal}}
          </option>
        </select>
      </div>
      <!--TERMINA MULTIEMPRESA-->
      <!--TERMINA MULTIEMPRESA-->
      <!--TERMINA MULTIEMPRESA-->

        <div class="col-md-12">	
          <div class="float-sm-right">
            <label class='d-none' id='lbltiporetencion'>ELECTRONICA</label>					
          </div>
        </div>
            </div>
        </div>
        
      </div>
      
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <app-datos-sujeto-retenido></app-datos-sujeto-retenido>
        <app-detalle-retencion (datosenviar)="recibirDatosDetallesRetencion($event)"></app-detalle-retencion>
        <app-datos-ventas></app-datos-ventas>
        <div class="row">
          <div class="col-md-3">
                <div class="form-group">
                  <button [disabled]="disabledbtnguardar" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fa fa-save"></i> Guardar</button>
                </div>
           </div>
        </div>
    </div>
</section>