@media only screen and (max-width: 768px) {
  td:nth-of-type(1):before {
      content: "CEDULA";
    }

    td:nth-of-type(2):before {
      content: "CLIENTE";
    }
    
    td:nth-of-type(3):before {
      content: "CELULAR";
    }
    
    td:nth-of-type(4):before {
      content: "CORREO";
    }

    td:nth-of-type(5):before {
      content: "TIPO_USUARIO";
    }
}