<app-transportista-form (datosenvio)="recibirDatosTransportista()"></app-transportista-form>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button (click)="clickNuevoTransportista();" class="btn btn-primary btn-flat btn-sm" type="button"><i class="fa fa-plus"></i> Nuevo</button>
              <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
              <button routerLink="/menuventa" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
            </div>
          </div>
      </div>
      
    </div>
    
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

       
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
        <div class="card card-primary card-outline">
          <div class="card-header">
              <h3 class="card-title"><i class="fa fa-file-alt"></i><span class="labeloculto">&nbsp;Explorador</span></h3>
                &nbsp;<span class="text-right">(Total: {{this.cantidad_registros}} Registros)</span>
  
  
              <div class="card-tools">
                <div class="input-group input-group-sm">
  
                    <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
  
                    
  
                </div>
              </div>
  
  
            </div>
          <div class="card-body overlay-wrapper">

            <div *ngIf="loadinglistado" class="overlay overlay-custom d-flex flex-column align-items-center">
              <div class="spinner-border text-primary" style="width: 5rem; height: 5rem; font-size: 30px;" role="status"></div>
              <div class="text-bold pt-2">Cargando...</div>
            </div>
            
              <div class="row justify-content-between">
          

                    <div class="table-responsive p-0">
                            <table class="design-table resp">
                                <thead>
                                <tr>
                                    <th>CÉDULA/RUC</th>
                                    <th>APELLIDO/RAZÓN SOCIAL</th>
                                    <th>NOMBRE/NOMBRE COMERCIAL</th>
                                    <th>IDENTIFICACIÓN</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of (datos | filterGenerico:filterpost:['cedula', 'apellido', 'nombre']) | paginate : {
                                    id : 'pagtransportista',
                                    itemsPerPage: pagesize,
                                    currentPage: page,
                                    totalItems: count
                                }">
                                    <td>
                                      {{item.cedula}}
                                      <div>
                                        <small *ngIf="item.estado_suspendido==1" class="badge badge-danger">Suspendido</small>
                                        <small *ngIf="item.estado_suspendido==2" class="badge badge-success">Reactivado</small>
                                      </div>
                                    </td>
                                    <td>{{item.apellido}}</td>
                                    <td>{{item.nombre}}</td>
                                    <td>{{item.identificacion}}</td>
                                    <td>
                                    <div class="d-flex justify-content-end">
                                        <button (click)="editar(item);" class="btn btn-outline-warning btn-sm ml-1" type="button"><i class="fas fa-pencil-alt"></i></button>
                                        <button (click)="clickEliminar(item.cod_transportista, item.apellido + ' ' + item.nombre);" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash"></i></button>
                                    </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="float-right">
                                <pagination-controls class="pagination-controls" id="pagtransportista"
                                previousLabel="Anterior"
                                nextLabel="Siguiente"
                                [responsive]="true"
                                (pageChange)="handlePageChange($event)">
                                </pagination-controls>
                            </div>
                    </div>
              </div>






          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      </div>

    </div>



    



  </div>
</section>