<app-opciones-explorador-pedido (datosenvioestadoanulado)="recibirDatosEstadoAnulado($event)"></app-opciones-explorador-pedido>

<div id="mymodalverdetallespedido" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">PEDIDO Nº  {{ numero_factura }} - {{ cliente }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">

        <app-pedido-panaderia [loading] = "loadinglistado"></app-pedido-panaderia>

        <div class="row justify-content-between">
          <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
          </span>
        </div>


      </div>
    </div>

  </div>
</div>

<app-registro-abono (sendGuardar)="sendGuardar()"></app-registro-abono>


<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">

      <div class="col-sm-6">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
              <button routerLink="/menuventa/cliente" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
            </div>
          </div>
      </div>

      <div class="col-sm-6">

          <div>
            <div class="input-group input-group-sm">
              
              <label class="form-control text-right">{{cliente}}</label>

            </div>
          </div>
      </div>
      
    </div>
    
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Desde:</label>
                    <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                    </div>
                    <input [(ngModel)]="fechadesde" type="date" class="form-control">
                    </div>
                </div>		 
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Fecha Hasta:</label>
                    
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input [(ngModel)]="fechahasta" type="date" class="form-control">
                        <span class="input-group-append">
                            <button (click)="clickBuscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>	 
            </div>

        </div>

       
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-file-alt"></i><span class="labeloculto">&nbsp;Explorador</span></h3>
                &nbsp;<span class="text-right">(Total: {{this.cantidad_registros}} Registros)</span>


            <div class="card-tools">
              <div class="input-group input-group-sm">
                  <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
              </div>
            </div>


          </div>
          <div class="card-body">

              <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
              </span>

              <div class="row justify-content-between">
            
                

                <div class="col-md-6">
                    <div class="form-group">
                        <select (change)="changeProceso($event)" [(ngModel)]="proceso" class="form-control form-control-sm">
                            <option value="0">SELECCIONE TIPO DE PEDIDOS</option>
                            <option value="PEDIDO RESERVADO">PEDIDO RESERVADO</option>
                            <option value="PEDIDO CON SALIDA">PEDIDO CON SALIDA</option>
                            <option value="PEDIDO ACUMULATIVO">PEDIDO ACUMULATIVO</option>
                        </select>
                    </div>	
                  </div>

                  <div *ngIf="proceso!='0'" class="row mb-2">
                      <div class="col-sm-12">
                          <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                              <button (click)="clickFacturarSeleccionados();" class="btn btn-success btn-flat btn-sm" type="button"><i class="fas fa-shopping-bag"></i> Facturar Seleccionados</button>
                            </div>
                          </div>
                      </div>
                  </div>

                    
                <div class="table-responsive p-0">
                
                <table class="design-table resp">
                    <thead>
                    <tr>
                      <th width="50px"><input *ngIf="proceso!='0'" [(ngModel)]="checktodos" type="checkbox" (change)="changeCheckedTodos($event);"></th>
                        <th width="50px">Nº</th>
                        <th width="50px">ESTADO</th>
                        <th width="100px">FECHA</th>
                        <th width="50px">TOTAL</th>
                        <th width="50px">DEUDA</th>
                        <th width="100px">FACTURAR</th>
                        <th width="100px"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of (datos | filterGenerico:filterpost:['numero_factura', 'estado', 'cedula', 'cliente', 'fecha_hora', 'importetotal', 'deuda_valor', 'tipo_venta']) | paginate : {
                        id: 'paglistadopedidoscliente',
                        itemsPerPage: pagesize,
                        currentPage: page,
                        totalItems: count
                    }">
                        <td><input *ngIf="proceso!='0'" type="checkbox" [checked]="item.seleccion" (change)="changeChecked(item);" [disabled]="verificarProceso(item)"></td>
                        <td>{{item.numero_factura}}</td>
                        <td>
                        <small *ngIf="item.estado=='CREADA'" class="badge badge-success">{{item.estado}}</small>
                        <small *ngIf="item.estado=='ANULADA'" class="badge badge-warning">{{item.estado}}</small>
                        </td>
                        <td>{{item.fecha_hora}}</td>
                        <td><label class="text-success">{{item.importetotal}}</label></td>
                        <td>
                          <div class="text-mobile-right">
                            <div>
                              <span *ngIf="item.deuda_valor>0" class="badge badge-danger">{{item.deuda_valor}}</span>
                              <span *ngIf="item.deuda_valor==0" class="badge badge-primary">{{item.deuda_valor}}</span>
                            </div>
                            <div>
                                <small *ngIf="item.tipo_venta=='PEDIDO RESERVADO'" class="badge badge-warning">{{item.tipo_venta}}</small>
                                <small *ngIf="item.tipo_venta=='PEDIDO CON SALIDA'" class="badge badge-primary">{{item.tipo_venta}}</small>
                                <small *ngIf="item.tipo_venta=='PEDIDO ACUMULATIVO'" class="badge badge-info">{{item.tipo_venta}}</small>
                                <small *ngIf="item.tipo_venta=='PROFORMA'" class="badge badge-secondary">{{item.tipo_venta}}</small>
                                <small *ngIf="item.tipo_venta=='PEDIDO PANADERIA'" class="badge badge-warning">{{item.tipo_venta}}</small>
                            </div>
                            <div>
                                <small *ngIf="item.termino_deudor==1" class="badge badge-primary">SIN DEUDAS</small>
                                <small *ngIf="item.termino_deudor==0 && item.estado_pedido==0" class="badge badge-warning">POR COBRAR</small>
                            </div>
                          </div>
                        </td>
                        <td>
                        <small *ngIf="item.estado_pedido==0" class="badge badge-warning">PENDIENTE</small>
                        <small *ngIf="item.estado_pedido==1" class="badge badge-success">FACTURADO</small>
                        </td>
                        <td>
                        <div class="d-flex justify-content-end">
                            <button *ngIf="item.tipo_venta=='PEDIDO PANADERIA'" (click)="verDetallesPedido(item.cod_factura_venta, item.numero_factura, item.cliente);" data-bs-toggle="tooltip" data-bs-placement="top" title="VER DETALLE" class="btn btn-outline-primary btn-sm" type="button"><i class="fa fa-shopping-bag"></i></button>

                            <button *ngIf="item.termino_deudor==0 && item.tipo_venta!='PEDIDO ACUMULATIVO'" (click)="registrarAbono(item);" data-bs-toggle="tooltip" data-bs-placement="top" title="REGISTRO ABONO" class="btn btn-outline-primary btn-sm" type="button"><i class="fa fa-hand-holding-usd"></i></button>
                            
                            <button (click)="opciones(item.cod_factura_venta, item.numero_factura, item.estado, item.tipo_venta, item.cliente, item.claveacceso, item.deuda_valor, item.estado_pedido);" data-bs-toggle="tooltip" data-bs-placement="top" title="OPCIONES" class="btn btn-outline-primary btn-sm" type="button"><i class="fa fa-cogs"></i></button>

                            
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                  <div class="float-right">
                    <pagination-controls class="pagination-controls" id="paglistadopedidoscliente"
                    previousLabel="Anterior"
                    nextLabel="Siguiente"
                    [responsive]="true"
                    (pageChange)="handlePageChange($event)">
                    </pagination-controls>
                  </div>
                
              </div>





              </div>






          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      </div>

    </div>



    



  </div>
</section>