<div class="scroll-container" #scrolly>
  <table border="1" style="font-size: 12px;" class="bordered">
      <thead>
        <tr>
            <th width="15%">Se Devuelve</th>
            <th width="5%">Cant.</th>
            <th width="13%">Tarifa</th>
            <th width="33%">Detalles</th>
            <th width="3%">U</th>
            <th width="6%">Total F.</th>
            <th width="10%">Opción</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of datosdetalles; let i = index; let u = last" [ngClass]="{'bg-danger': item.fila_error}">
              <td>
                <select [disabled]="disabledtabladetalles" (change)="changeTipoFormaDevolucion($event, i)" class="form-control form-control-sm">
                    <option value="{{item.cod_tipo_forma_devolucion}}" *ngFor="let item of datostipoformadevolucion" [selected]="item.cod_tipo_forma_devolucion == this.datosdetalles[i].cod_tipo_forma_devolucion">
                        {{item.tipo_forma_devolucion}}
                    </option>
                </select>
              </td>
              <td>
                  <input [disabled]="disabledtabladetalles" class="micajatable" type="text" maxlength="15" (keydown)="keyPendiente(i)" (keyup.enter)="keySumar(i)" [(ngModel)]="item.cantidad_comprar">
              </td>
              <td>
                <label style="font-size:10px;">{{item.tarifa}}</label>
                </td>
              <td>{{item.descripcion}}</td>
              <td>{{item.cantidad_unidad}}</td>
              <td>
                  <input *ngIf="!this.opcionesprivilegios['bloqueovalordetallenotacredito']" [disabled]="disabledtabladetalles" class="micajatable" type="text" maxlength="15" (keydown)="keyPendiente(i)" (keyup.enter)="keySumarSi(i)" [(ngModel)]="item.total_final">
                  <label *ngIf="this.opcionesprivilegios['bloqueovalordetallenotacredito']">{{item.total_final}}</label>
              </td>
              <td>
                  <button [disabled]="disabledtabladetalles" (click)="borrar(i);" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                  <label *ngIf="u==true">{{ultimaFila(i)}}</label>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<br>

<div class="row">
  <div class="col-md-6">
      <div class="form-group">
          <div class="input-group input-group-sm">
            <textarea [disabled]="disabledtxtobservacion" class="form-control" [(ngModel)]="this.observacion"></textarea>
          </div>
      </div>
  </div>

  <div class="col-md-6">

    <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card card-cyan card-outline">
            <div class="card-header" role="tab" id="headingTwo">
                <h3 class="card-title">
                  <a class="collapsed text-secondary lead" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-money-bill-alt"></i> Detalle a Pagar
                  </a>
                </h3>
                <label class="lead float-right">{{this.importetotal}}</label>
            </div>
            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body">
                    <div class="row">			 
                        <div class="col-md-12" style="font-size: 14px">
                                    
      
                                    <div class="d-nonex form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Subtotal {{ this.iva }}%</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.subtotal12}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="d-nonex form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Subtotal 0%</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.subtotal0}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Total S/Imp.</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.totalsinimpuestos}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Descuento</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fas fa-percent"></i></span>
                                                </div>
                                                <input (keyup.enter)="descontarGeneral();" [(ngModel)]="descuentogeneral" [disabled]="disabledtxtdescuentogeneral" class="form-control" maxlength="10" onKeyPress="return soloNumeros(event)" type="text">
                                                <label class="form-control">{{this.totaldescuento}}</label>
                                            </div>
      
                                        </div>
                                    </div>
      
                                    <div class="d-none form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">ICE</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.totalconice}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">IVA {{ this.iva }}%</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.totalconimpuestos}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Importe Total</label>
                                        <div class="col-sm-8">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                </div>
                                                <label class="form-control">{{this.importetotal}}</label>
                                            </div>
                                        </div>
                                    </div>
      
                                    
      
                                    
      
                                    
                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

  </div>
</div>