<section class="content-header" id="box">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
            <div class="btn-toolbar" role="toolbar">
              <div class="btn-group">
                  <button (click)="clickActualizar();" class="btn btn-warning btn-flat btn-sm" type="button"><i class="fas fa-save"></i> Actualizar</button>
                  <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                  <button routerLink="/menucompra/exploradorcompra" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fa fa-reply"></i> Atrás</button>
              </div>

              <!--INICIA MULTIEMPRESA-->
              <!--INICIA MULTIEMPRESA-->
              <!--INICIA MULTIEMPRESA-->
              <div class="input-group input-group-sm">  
                <label *ngIf="multisucursal=='1'" class="form-control">{{sucursal}}</label>
              </div>
              <!--TERMINA MULTIEMPRESA-->
              <!--TERMINA MULTIEMPRESA-->
              <!--TERMINA MULTIEMPRESA-->
            </div>


        </div>

        
      </div>
      
    </div><!-- /.container-fluid -->

    
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

                  <div class="card card-cyan card-outline">
                      <div class="card-header">

                        <div style="text-align:center">
                            <div *ngIf="loading" class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
                        </div>
                          <h5 style="font-size: 14px">
                                    <i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;<label>{{ this.proveedor }}</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-id-card" aria-hidden="true"></i>&nbsp;<label>{{ this.numero_identificacion }}</label><br>
                                    <i class="fas fa-mobile" aria-hidden="true"></i>&nbsp;
                                    <label id="lblcelular">{{ this.celular }}</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;<label>{{ this.correo }}</label>
                                    <br>
                                    <i class="fas fa-paperclip" aria-hidden="true"></i>&nbsp;<label>{{this.numero_factura}}</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fas fa-barcode" aria-hidden="true"></i>&nbsp;<label>{{this.numerocompraproveedor}}</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fas fa-calendar" aria-hidden="true"></i>&nbsp;<label>{{this.fecha_registro}}</label>
                                    &nbsp;&nbsp;&nbsp;
                                    <i class="fa fa-money-bill-alt" aria-hidden="true"></i>&nbsp;<label>{{this.importetotal}}</label>
                          </h5>

                      </div> 
                  </div>


                 

                
                


                  <div class="form-group">
                    <label>Porcentaje General:</label>
                    <div class="input-group input-group-sm">
                        <input [(ngModel)]="codigo_barra" onKeyPress="return soloNumeros(event)" class="form-control" maxlength="35" placeholder="Ingrese porcentaje de utilidad general" type="text">
                        <span class="input-group-append">
                            <button class="btn btn-info btn-flat" type="button"><i class="fa fa-check-square"></i></button>
                        </span>
                    </div>
                </div>
              
                  <app-detalle-fijar-precios (datosenviar)="recibirDatosDetalles($event)"></app-detalle-fijar-precios>
                  
          </div>

          
      </div>		


       

      <div class="row">
          
          


      </div>

  

      


    </div>
</section>