<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button (click)="clickDeshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
              <button routerLink="/menugym" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
            </div>
          </div>
      </div>
      
    </div>
    
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

        <div class="row">

          <div *ngIf="multisucursal=='1' && opcionesprivilegios['bloqueogestionlocales']!=1" class="col-md-6">
           
            <div class="form-group">
                <label>Sucursal:</label>
                
                <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                    <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                        {{item.sucursal}}
                    </option>
                </select>

            </div>	


          </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Tipo Membresía:</label>
                    <div class="input-group input-group-sm">
                        <select (change)="changeestadomembresia($event)" class="form-control form-control-sm">
                            <option value="{{item.cod_estado_membresia}}" *ngFor="let item of datosestadomembresia" [selected]="this.cod_estado_membresia == item.cod_estado_membresia">
                                {{item.estado_membresia}}
                            </option>
                        </select>
                        <span class="input-group-append">
                            <button (click)="clickBuscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>	 
            </div>




        </div>
        
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title"><i class="fa fa-file-alt"></i><span class="labeloculto">&nbsp;Reporte</span></h3>
            &nbsp;<span class="text-right">(Total: {{this.cantidad_registros}} Registros)</span>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                  <button (click)="exportarExcel()" class="btn btn-success btn-sm mr-1" type="button">
                    <i class="fa fa-file-excel"></i> Excel
                  </button>
                  <button (click)="exportarPdf()" class="btn btn-danger btn-sm mr-2" type="button">
                    <i class="fa fa-file-pdf"></i> PDF
                  </button>
                  <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />
              </div>
            </div>


          </div>
          <div class="card-body">
              <div class="row justify-content-between">
            
                <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                  <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
                </span>

                      <div class="table-responsive p-0">
                      <table class="design-table resp">
                        <thead>
                          <tr>
                            <th>CLIENTE</th>
                            <th>CELULAR</th>
                            <th>MEMBRESIA</th>
                            <th>FECHA INICIO</th>
                            <th>FECHA FIN</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of (datos | filterGenerico:filterpost:['cliente', 'celular', 'plan', 'fecha_inicio', 'fecha_fin']) | paginate : {
                            itemsPerPage: pagesize,
                            currentPage: page,
                            totalItems: count
                          }">
                            <td>{{item.cliente}}</td>
                            <td>{{item.celular}}</td>
                            <td>{{item.plan}}</td>
                            <td>{{item.fecha_inicio}}</td>
                            <td>{{item.fecha_fin}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="float-right">
                        <pagination-controls class="pagination-controls"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                        [responsive]="true"
                        (pageChange)="handlePageChange($event)">
                        </pagination-controls>
                      </div>

                  </div>
              </div>






          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      </div>

    </div>



    



  </div>
</section>