<div id="mymodallistarnotacredito" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">FACTURA Nº  {{ numero_factura }} - {{ cliente }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">

        <div class="row justify-content-end align-items-center">
              <div class="input-group input-group-sm float-right" style="width: 150px;">

                <input (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" autocomplete="off" />

              </div>
        </div>
        
        
        <br>
        
        <div class="row justify-content-between">

          <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
          </span>
          
          <div class="table-responsive p-0">
            <table class="design-table resp">
              <thead>
                <tr>
                  <th>Nº NOTA CREDITO</th>
                  <th>ESTADO</th>
                  <th>CORREO</th>
                  <th>FECHA</th>
                  <th>DEVOLUCIÓN</th>
                  <th>TIPO VENTA</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of (datos | filterGenerico:filterpost:['numero_nota_credito', 'estado', 'fecha_hora', 'fecha_hora', 'importetotal']) | paginate : {
                  id : 'paglistanotacreditoventa',
                  itemsPerPage: pagesizelistanotacreditoventa,
                  currentPage: pagelistanotacreditoventa,
                  totalItems: countlistanotacreditoventa
                }">
                  <td>{{item.numero_nota_credito}}</td>
                  <td>
                    <small *ngIf="item.estado=='CREADA'" class="badge badge-success">{{item.estado}}</small>
                    <small *ngIf="item.estado=='AUTORIZADO'" class="badge badge-info">{{item.estado}}</small>
                    <small *ngIf="item.estado=='DEVUELTA'" class="badge badge-danger">{{item.estado}}</small>
                    <small *ngIf="item.estado=='NO AUTORIZADO'" class="badge badge-danger">{{item.estado}}</small>
                    <small *ngIf="item.estado=='EN PROCESO'" class="badge badge-warning">{{item.estado}}</small>
                    <small *ngIf="item.estado=='ANULADA'" class="badge badge-warning">{{item.estado}}</small>
                  </td>
                  <td>
                    <small *ngIf="item.envio!='ENVIADO'" class="badge badge-warning">@ CORREO NO ENVIADO</small>
                  </td>
                  <td>{{item.fecha_hora}}</td>
                  <td>{{item.importetotal}}</td>
                  <td>
                    <small *ngIf="item.tipo_venta=='ELECTRONICA'" class="badge badge-primary">{{item.tipo_venta}}</small>
                    <small *ngIf="item.tipo_venta=='FACTURA'" class="badge badge-primary">{{item.tipo_venta}}</small>
                    <small *ngIf="item.tipo_venta=='RECIBO'" class="badge badge-info">{{item.tipo_venta}}</small>
                  </td>
                  <td>
                    <div class="d-flex justify-content-end">
                      <button (click)="imprimir(item);" data-bs-toggle="tooltip" data-bs-placement="top" title="IMPRIMIR" class="btn btn-outline-primary btn-sm" type="button"><i class="fa fa-print"></i></button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="float-right">
              <pagination-controls class="pagination-controls" id="paglistanotacreditoventa"
              previousLabel="Anterior"
              nextLabel="Siguiente"
              [responsive]="true"
              (pageChange)="handlePageChangeListaNotaCreditoVenta($event)">
              </pagination-controls>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end align-items-center">
          <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</button>
        </div>

      </div>

    </div>

  </div>
</div>
