
<app-logo-ruc (datosenvio)="recibirDatosLogoRuc()"></app-logo-ruc>
<app-firma-ruc></app-firma-ruc>
<app-secuencias-factura></app-secuencias-factura>
<app-ruc-form (datosenvio)="recibirDatosRuc()"></app-ruc-form>

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
          <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
              <button (click)="clickNuevoRuc()" class="btn btn-primary btn-flat btn-sm" type="button"><i class="fas fa-plus"></i> Nuevo</button>
              <button routerLink="/menuadministrar" class="btn btn-secondary btn-flat btn-sm" type="button"><i class="fas fa-undo"></i> Atrás</button>
            </div>
          </div>
      </div>
      
    </div>
    
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">

       
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
      <!-- /.Inicia form1 -->
        <div class="card card-primary card-outline">
          
          <div class="card-body">
              <div class="row justify-content-between">
            
                    <div class="table-responsive p-0">
                            <table class="design-table resp">
                                <thead>
                                <tr>
                                    <th width="50px"></th>
                                    <th width="100px">EMPRESA</th>
                                    <th width="200px">RUC</th>
                                    <th width="200px">RAZÓN SOCIAL</th>
                                    <th width="100px">SERIEESTAB</th>
                                    <th width="100px">PTOEMI</th>
                                    <th width="100px">ESTADO</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let item of datosruc">
                                    <td>
                                      <img 
                                          [src]="baseurlsri + '/conexion/' + cod_proyecto + '/logo' + item.cod_ruc + '.png?v=' + (item.versionlogo || versionlogo)"
                                          class="img-fluid"
                                          style="max-width: 80px; max-height: 80px;"
                                          onerror="this.src='assets/fotosubir.png'"
                                        />
                                    </td>
                                    <td>
                                        <div>{{item.empresa}}</div>
                                    </td>
                                    <td>
                                        <div><small class="badge badge-primary">{{item.tipo_ruc}}</small></div>
                                        <div>{{item.ruc_sucursal}}</div>
                                    </td>
                                    <td>
                                        <div><small class="badge badge-info">{{item.razonsocial}}</small></div>
                                        {{item.nombrecomercial}}
                                    </td>
                                    <td>{{ item.serieestab | number:'3.0-0' }}</td>
                                    <td>{{ item.ptoemi | number:'3.0-0' }}</td>
                                    <td>
                                      <small *ngIf="item.estado==0" class="badge badge-danger">DESHABILITADO</small>
                                      <small *ngIf="item.estado==1" class="badge badge-info">HABILITADO</small>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end">
                                          <button (click)="clickLogo(item.cod_ruc, item.empresa);" data-bs-toggle="tooltip" data-bs-placement="top" title="LOGO DOCUMENTO ELECTRÓNICO" class="btn btn-outline-primary btn-sm mr-1" type="button"><i class="fas fa-image"></i></button>
                                          <button (click)="clickFirma(item);" data-bs-toggle="tooltip" data-bs-placement="top" title="FIRMA DOCUMENTO ELECTRÓNICO" class="btn btn-outline-primary btn-sm mr-1" type="button"><i class="fas fa-signature"></i></button>
                                          <button (click)="copiar(item.cod_ruc);" data-bs-toggle="tooltip" data-bs-placement="top" title="COPIAR" class="btn btn-outline-primary btn-sm mr-1" type="button"><i class="fas fa-copy"></i></button>
                                          <button (click)="secuenciasFactura(item);" data-bs-toggle="tooltip" data-bs-placement="top" title="EDITAR" class="btn btn-outline-primary btn-sm mr-1" type="button"><i class="fas fa-sort-numeric-up"></i></button>
                                          <button (click)="editar(item.cod_ruc);" data-bs-toggle="tooltip" data-bs-placement="top" title="EDITAR" class="btn btn-outline-primary btn-sm mr-1" type="button"><i class="fa fa-edit"></i></button>
                                          <button (click)="activar(item.cod_ruc, 0);" *ngIf="item.estado==1" class="btn btn-outline-danger btn-sm"><i class="fa fa-toggle-on"></i></button>
                                          <button (click)="activar(item.cod_ruc, 1)" *ngIf="item.estado==0" class="btn btn-outline-info btn-sm"><i class="fa fa-toggle-on"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            
                    </div>
              </div>






          </div>
          <!-- /.card-body -->
        </div>
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      <!-- /.Termina form1 -->
      </div>

    </div>



    



  </div>
</section>