@media only screen and (max-width: 768px) {
  td:nth-of-type(1):before {
    content: "RUC";
  }
  
  td:nth-of-type(2):before {
    content: "RAZÓN SOCIAL";
  }
  
  td:nth-of-type(3):before {
    content: "NOMBRE COMERCIAL";
  }
  
  td:nth-of-type(4):before {
    content: "IDENTIFICACIÓN";
  }

  td:nth-of-type(5):before {
    content: "";
  }
}