<app-listado-existencias-sucursal></app-listado-existencias-sucursal>

<div class="row justify-content-between align-items-center">
  <span>Total: {{this.cantidad_registros}} Registros</span>
  <div class="input-group input-group-sm float-right" style="width: 150px;">
    <input #txtfilterpost (keyup)="keyFiltrado();" type="text" class="form-control float-right" oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Buscar" [(ngModel)]="filterpost" name="filterpost" />
  </div>
</div>

<br>

<div class="row justify-content-between">

  <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
  </span>

  <div class="table-responsive p-0">
    <table class="design-table resp">
      <thead>
        <tr>
          <th>SUBCATEGORIA</th>
          <th>MARCA</th>
          <th>DESCRIPCIÓN</th>
          <th>COSTO</th>
          <th>EXISTENCIAS</th>
          <th><i class="fa fa-fw fa-barcode"></i></th>
          <th><i class="fa fa-fw fa-barcode"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of (datosproducto | filterGenerico:filterpost:['subcategoria', 'marca', 'descripcion', 'codigo', 'codigo_adicional']) | paginate : {
          id : 'pagproducto',
          itemsPerPage: pagesize,
          currentPage: page,
          totalItems: count
        }">
          <td>{{item.subcategoria}}</td>
          <td>{{item.marca}}</td>
          <td>{{item.descripcion}}</td>
          <td>
            <label class="text-success">{{item.costo}}</label>
          </td>
          <td>
            <div class="d-flex justify-content-between">
              <span *ngIf="multisucursal=='1' || multisucursal=='0'" (click)="verExistenciasSucursales(item.cod_producto, item.descripcion)" class="font-weight-bold color-existencia" [ngClass]="{'text-primary': item.existencia>0, 'text-danger': item.existencia<=0}">{{item.existencia}}</span>
              <div>
                <span class="badge badge-info" *ngIf="item.fraccionado=='SI'">({{item.cantidad_denominacion + " " + item.denominacion}})</span>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <span *ngIf="item.pedidos>0" class="badge badge-warning">Pedidos {{item.pedidos}}</span>
            </div>
          </td>
          <td>{{item.codigo}}</td>
          <td>{{item.codigo_adicional}}</td>
          <td>
            <div class="d-flex justify-content-end">
              <button (click)="agregaringresos(item.cod_producto);" class="btn btn-outline-primary btn-sm" type="button"><i class="fas fa-plus"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="float-right">
      <pagination-controls class="pagination-controls" id="pagproducto"
      previousLabel="Anterior"
      nextLabel="Siguiente"
      [responsive]="true"
      (pageChange)="handlePageChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>