<div id="mymodalopciones" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title"><label>NOMBRE:</label> {{this.descripcion}} <label>- PRECIO:</label> ${{this.precio_venta}}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>
      <div class="modal-body">

        <div class="row">

            <div *ngIf="this.estado_reserva==null" class="col-md-6">
              <div class="form-group">
                <button (click)="clicknuevareserva();" type="button" class="btn btn-primary btn-flat btn-sm btn-block"><i class="fas fa-file"></i> Nueva Reserva</button>
              </div>
            </div>

            <div *ngIf="this.estado_reserva==null" class="col-md-6">
              <div class="form-group">
                <button (click)="clickasignacion();" type="button" class="btn btn-primary btn-flat btn-sm btn-block"><i class="fas fa-file-signature"></i> Asignar Habitación</button>
              </div>
            </div>

            <div *ngIf="this.estado_reserva==1 && this.estado_pago==0"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickmodificarreserva();" type="button" class="btn btn-warning btn-flat btn-sm btn-block"><i class="fas fa-edit"></i> Modificar Reserva</button>
              </div>
            </div>

            <div *ngIf="this.estado_reserva==1 && this.estado_pago==0"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickbuscarasignacion();" type="button" class="btn btn-primary btn-flat btn-sm btn-block"><i class="fas fa-file-signature"></i> Asignar Habitación</button>
              </div>
            </div>

            <div *ngIf="this.estado_reserva==1 && this.estado_pago==1"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickbuscarasignacion();" type="button" class="btn btn-primary btn-flat btn-sm btn-block"><i class="fas fa-file-signature"></i> Asignar Habitación</button>
              </div>
            </div>

            <div *ngIf="this.estado_reserva==0"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickmodificarasignacion();" type="button" class="btn btn-warning btn-flat btn-sm btn-block"><i class="fas fa-edit"></i> Modificar Asignación</button>
              </div>
            </div>

            <!-- <div *ngIf="this.estado_reserva==0"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickcontrato();" type="button" class="btn btn-danger btn-flat btn-sm btn-block"><i class="fas fa-file-signature"></i> Contrato</button>
              </div>
            </div> -->
            
            <div *ngIf="this.estado_reserva!=null"  class="col-md-6">
              <div class="form-group">
                <button (click)="clickexploradorpagos();" type="button" class="btn btn-success btn-flat btn-sm btn-block"><i class="fa fa-money-bill-alt"></i> Pagos</button>
              </div>
            </div>
         
        </div>
        
      </div>


    </div>

  </div>
</div>

<div id="mymodalcontrato" class="modal fade" role="dialog" data-backdrop="false">
<div class="modal-dialog">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">CONTRATO</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="row">
       

          <div class="col-md-6">
            <div class="form-group">
              <button (click)="clickdescargarcontrato();" type="button" class="btn btn-danger"><i class="fas fa-file-signature"></i> Descargar Formato</button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <input id="file-upload" type="file" accept=".jpg,.png" (change)="upload($event)">
              <label for="file-upload" class="btn btn-primary btn-block"><i class="fas fa-file-signature"></i> Subir Contrato</label>
            </div>
          </div>

          

          <div class="col-md-6">
            <div class="form-group">
              <button type="button" class="btn btn-success"><i class="fas fa-search"></i> Visualizar Contrato</button>
            </div>
          </div>
          
       
      </div>
      
    
      
    </div>

  </div>

</div>
</div>



    <div class="row">

            <div class="col-md-12">

                <div class="row">

                <div class="col-md-6 d-flex align-items-center">
                        <!-- <button (click)="revisarDisponibilidadHabitacion();" class="btn btn-primary btn-flat btn-sm" type="button"><i class="fa fa-cogs"></i> Disponibilidad Habitación</button> -->
                        <button (click)="deshacer();" class="btn btn-secondary btn-flat btn-sm float-right" type="button"><i class="fas fa-redo-alt"></i> Deshacer</button>
                </div>

                <div *ngIf="multisucursal=='1'" class="col-md-6">
                    <div class="form-group">
                        <label>Sucursal:</label>
                        <select (change)="changeSucursal($event)" class="form-control form-control-sm">
                            <option value="{{item.cod_sucursal}}" *ngFor="let item of datossucursal" [selected]="this.cod_sucursal == item.cod_sucursal">
                                {{item.sucursal}}
                            </option>
                        </select>
                    </div>	
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="text-danger">Seleccione fecha para revisar disponibilidad:</label>
                        <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                        <input [(ngModel)]="fechadesde" type="date" class="form-control">
                        <input [(ngModel)]="hora_desde" type="time" class="form-control">
                        <span class="input-group-append">
                            <button (click)="buscar();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                        </span>
                        </div>
                    </div>	 
                </div>

                

                </div>

                <div class="row justify-content-between">
              <span *ngIf="loadinglistado" class="justify-content-center text-center m-auto">
                <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;"></div>
              </span>
            </div>

            <div class="contenedor justify-content-center">

                <table class="table resp m-0">
                    <thead>
                    <tr>
                    <th></th>
                    <th>HABITACIÓN</th>
                    <th>PRECIO</th>
                    <th>ESTADO</th>
                    <th>PERSONA</th>
                    <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of datos" [ngClass]="cambiarcolor(item.estado_reserva, item.estado_pago)">
                    <td><i class="fa fa-hotel fa-2x"></i></td>
                    <td><label class="info-box-text">{{item.descripcion}}</label></td>
                    <td><label class="info-box-number">${{item.precio_venta}}</label></td>
                    <td>
                        <label *ngIf="item.estado_reserva==null" class="info-box-number">DISPONIBLE</label>
                        <label *ngIf="item.estado_reserva==1" class="info-box-number">RESERVADO</label>
                        <label *ngIf="item.estado_reserva==0" class="info-box-number">OCUPADA</label>
                        <label *ngIf="item.estado_pago==0" class="info-box-number">&nbsp;POR PAGAR</label>
                        <label *ngIf="item.estado_pago==1" class="info-box-number">&nbsp;PAGADO</label>
                        <label *ngIf="item.estado_reserva==null" class="info-box-number"></label>
                    </td>
                    <td>
                        <span *ngIf="procesarestadoreserva(item.estado_reserva)==0">{{item.persona}}</span>
                        <span *ngIf="procesarestadoreserva(item.estado_reserva)==1">{{item.persona}}</span>
                        <span *ngIf="procesarestadoreserva(item.estado_reserva)==2">{{item.persona}}</span>
                        <span *ngIf="procesarestadoreserva(item.estado_reserva)==3">NO APLICA</span> 
                    </td>
                    <td>
                        <button (click)="clickopciones(item.cod_producto, item.descripcion, item.persona, item.precio_venta, item.estado_reserva, item.cod_reserva, item.estado_pago, item.cod_cliente, item.codigo);" class="btn btn-info btn-sm" type="button"><i class="fa fa-cogs"></i></button>
                    </td>
                    </tr>
                    </tbody>
                </table>

            </div>

                
            </div>


            


    </div>



    
