<div class="row">
  
    <!-- <div class="col-12">
      <div class="d-flex align-items-center">
        
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        
      </div>
    </div> -->

    <div class="col-12">
        <div class="input-group input-group-sm mb-3">
            <input oninput="javascript:this.value=this.value.toUpperCase();" (keyup.enter)="buscarNumeroTransaccion();" type="text" class="form-control" placeholder="Escriba el Código" [(ngModel)]="codigo_producto">
            <div class="input-group-append">
              <button (click)="buscarNumeroTransaccion();" class="btn btn-primary" type="button"> <span class="fa fa-plus"></span> Agregar</button>
            </div>
        </div>
    </div>

    
    <div class="col-12">
        <ul class="list-group py-2">
            <li class="list-group-item py-1 d-flex justify-content-between align-items-center" *ngFor="let item of datoscodigoproducto; let i = index">
            {{ item.codigo_producto }}
            <button (click)="borrar(i);" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></button>
            </li>
        </ul>
    </div>
    



</div>