
<div id="mymodalformproveedor" class="modal fade" role="dialog" data-backdrop="false">
  <div class="modal-dialog  modal-lg">
    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title">{{nombreformulario}} PROVEEDOR</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
          </button>
      </div>

      <div class="modal-body overlay-wrapper">


              <div *ngIf="loadingform" class="overlay overlay-custom d-flex flex-column align-items-center">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem; font-size: 30px;" role="status">
                </div>
                <div class="text-bold pt-2">Cargando...</div>
              </div>

              <div class="row">
                              
                <div class="col-md-6">
                    <div class="form-group">
                            <label>Identificación: </label><label class="text-danger">&nbsp;*</label>
                                <select [ngClass]="{'is-invalid': flagidentificacion}" (change)="changeIdentificacion($event)" class="form-control form-control-sm">
                                  <option value="0">SELECCIONE UN TIPO DE IDENTIFICACION</option>
                                  <option value="{{item.cod_identificacion}}" *ngFor="let item of datosidentificacion" [selected]="identificacion == item.identificacion">
                                    {{item.identificacion}}
                                </option>
                                </select>
                    </div>

                    <div class="form-group">
                      <label>Ruc: </label><label class="text-danger">&nbsp;*</label>
                        <input class="d-none form-control" id="txtcodproveedor" type="text">
                        <div class="input-group input-group-sm">
                              <input (keyup.enter)="buscarProveedor();" [ngClass]="{'is-invalid': flagruc}" [(ngModel)]="ruc" autofocus class="form-control"  oninput="javascript:this.value=this.value.toUpperCase();" placeholder="Ruc" type="text" maxlength="13">
                              <span class="input-group-append">
                                <button (click)="buscarProveedor();" class="btn btn-primary btn-flat" type="button"><i class="fa fa-search"></i></button>
                              </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Razon Social: </label>
                        <input [(ngModel)]="razon_social" oninput="javascript:this.value=this.value.toUpperCase();" class="form-control form-control-sm" placeholder="" type="text">
                    </div>

                    <div class="form-group">
                      <label>Nombre Comercial </label>
                      <input [(ngModel)]="nombre_comercial" oninput="javascript:this.value=this.value.toUpperCase();" class="form-control form-control-sm" placeholder="" type="text">
                    </div>

                    <div class="form-group">
                        <label>Convencional:</label>
                        <input [(ngModel)]="convencional" class="form-control form-control-sm" maxlength="15" placeholder="Convencional" type="text"> 
                    </div> 
                    
                </div>

                <div class="col-md-6">
                  
                    <div class="form-group">
                        <label>Celular: </label>
                        <input [(ngModel)]="celular" onKeyPress="return soloNumerosEnteros(event)" class="form-control form-control-sm" maxlength="15" placeholder="Celular" type="text"> 
                    </div>

                      <div class="form-group">
                        <label>Correo: </label>
                        <input [(ngModel)]="correo" class="form-control form-control-sm" maxlength="50" placeholder="Correo" type="text">
                    </div>

                    <div class="form-group">
                        <label>Dirección: </label>
                        <input [(ngModel)]="direccion" class="form-control form-control-sm" maxlength="100" placeholder="Dirección" type="text">
                    </div>

                    <!-- <div class="form-group">
                      <label>Tipo proveedor: </label><label class="text-danger">&nbsp;*</label>
                      <select [ngClass]="{'is-invalid': flagtipoproveedor}" (change)="changeTipoProveedor($event)" class="form-control form-control-sm">
                            <option value="0">SELECCIONE UN TIPO DE CLIENTE</option>
                            <option value="{{item.cod_tipo_proveedor}}" *ngFor="let item of datostipoproveedor" [selected]="tipo_proveedor == item.tipo_proveedor">
                              {{item.tipo_proveedor}}
                            </option>
                      </select>
                    </div> -->

                

                    

                </div>

              </div>

              <div class="d-flex justify-content-end align-items-center">
                <button *ngIf="nombreformulario=='AGREGAR'" class="btn btn-secondary btn-sm" (click)="clickLimpiar()" type="button"><i class="fa fa-file"></i> Limpiar</button>&nbsp;
                <button [ngClass]="{'d-none': flagocultarboton}" (click)="clickGuardar();" class="btn btn-primary btn-sm" type="button"><i class="fas fa-save"></i> Guardar</button>
                <button [ngClass]="{'d-none': !flagocultarboton}" (click)="clickActualizar();" class="btn btn-warning btn-sm" type="button"><i class="fas fa-save"></i> Actualizar</button>
                <div *ngIf="flagocultarboton">&nbsp;</div>
                <button *ngIf="nombreformulario=='AGREGAR'" class="btn btn-success btn-sm" [ngClass]="{'d-none': !flagocultarbotonagregar}" (click)="clickAgregar();" type="button"><i class="fa fa-plus"></i> Agregar</button>&nbsp;
                <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal"><i class="fas fa-times-circle"></i> Cerrar</button>
              </div>


          </div>

    </div>

  </div>
</div>